@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');
html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font: 1rem 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'PT Serif', serif;
}

a:link{
  text-decoration: none;
  color: inherit;
}

nav{
  background: rgb(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  color: #ddd;
  padding-inline: .5em;


  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav .navlinks-container{
  display: flex;
}

nav a{
  color: inherit;
  text-decoration: none;
  padding: 1em;
  transition: background-color ease-in-out 200ms;
  position: relative;
}

nav a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ddd;
  transform: scaleX(0);
  transition: transform ease-in-out 200ms;
}

nav a:hover{
  background: rgb(100, 100, 122, .8);
}

nav a:hover::before{
  transform: scaleX(1);
}

.main-section{
  margin-block: 2em;
  padding: 1em;
}

.hero{
  min-height: 80vh;
  color: #ddd;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__text{
  background: #2d2d3f;
  text-align: center;
  padding-block: 1em;
  padding-inline: 1em;
  z-index: 1;
  flex: 1 1 0;
}

.hero__text h1{
  font-size: 2em;
}

.hero__image{
  order: -1;
  flex: 2 1 0;
  background-image: url(../assets/f1-75.jpg);
  background-size: cover;
}

.main-section{
  display: flex;
  flex-direction: column;
}

.form-container{
  outline: 1px solid black;
  width: auto; 
  padding: 1em;
}

.form-container label{
  display: block;
}

.form-container input{
  padding: .5em;
  width: 100%;
}

footer{
  background: #202021;
  color: #ddd;
  padding: 1em;
}

.footer-socials{
  text-align: center;
  display: flex;
}

.footer-socials__links{
  display: flex;
  justify-content: center;
}

.footer-socials__links a{
  color: inherit;
  padding: 1em;
}

@media screen and (min-width: 50em){
  .hero__text{
    padding: 10em 10em 10em 5em;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 50% 100%, 0% 100%, 0 0%);
  }

  .hero__text p{
    max-width: 40ch;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-socials > span{
    text-align: center;
  }

  .footer-socials__links{
    display: inline;
  }
}