section.main-section.about-section#about
  .about__text
    h2 About me 
    p
    | I was born in a barn in rural Indonesia to a family stricken by
    | poverty, far from civilization, light or even electricity. My
    |  parents struggled to make ends meet every day.

    p
    | Just kidding. I am just your regular nerdy 10th grade student based
    | in West Java, who is passionate about web development. I first
    | discovered the world of software engineering when I was in 9th
    | grade, where I made a hello world program with Python. Then, I
    | learnt HTML, CSS and some very basic JS and built my first 
    a(href="https://github.com/Klrfl/Sebastian-Sidebar")
      | static website.
    |  Since then, I learnt more tools such as SASS, Git and Github.