footer 
  .footer-text 
    p Made by Klrfl, 2022.
  .footer-socials 
    a(href="https://github.com/Klrfl" target="_blank")
      i.fa-brands.fa-github
      .
        Github
    a(href="https://codepen.io.Klrfl" target="_blank")
      i.fa-brands.fa-codepen
      .
        Codepen
    a(href="mailto:efrayanglain@gmail.com" target="_blank")
      i.fa-solid.fa-envelope
      .
        Email me