nav
  div.logo
    a(href="#")
      i.fa-solid.fa-k
      
  .navlinks-container#sidebar 
    button(title="close sidebar").nav-btn#sidebar-close
    a(href="#skills").navlinks Skills
    a(href="#about").navlinks About
    a(href="#projects").navlinks Projects
    a(href="#contact").navlinks Contact

  button.nav-btn#sidebar-open