section.main-section.skills-section#skills
  .skills__text 
    h2 My skillset
    p Here are some technologies and tools I have learned over the years.
  
  //- multiline js statements, enter and tab after the -
  -
    const skillset = [
      {
        iconClass: "fa-brands fa-html5",
        skillname: "HTML",
      },
      {
        iconClass: "fa-brands fa-css3",
        skillname: "CSS",
      },
      {
        iconClass: "fa-brands fa-sass",
        skillname: "Sass",
      },
      {
        iconClass: "fa-brands fa-js",
        skillname: "JS",
      },
      {
        iconClass: "fa-brands fa-vue",
        skillname: "Vue",
      },
      {
        iconClass: "fa-brands fa-git",
        skillname: "Git",
      },
      {
        iconClass: "fa-brands fa-github",
        skillname: "Github",
      },
    ];
  
  //- put each statement near the js
  //- idk why but it won't work if you put the js on top
  .skills__cards-container 
    each skill in skillset
      .skill-card
        span.skill-text
        //- we can't use the dot notation
        //- we do this so pug doesn't think we're assigning 2 classes, "skill" and "iconClass"
        i(class=skill.iconClass)
        = skill.skillname 

  .about-divider 
    svg(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none")
      path(d="M1200 120L0 16.48 0 0 1200 0 1200 120z").shape-fill