section.main-section.skills-section#skills
  .skills__text 
    h2 My skillset
    p Here are some technologies and tools I have learned over the years.
  
  .skills-cards-container 
    .skill-card
      span.skill-text 
        i.fa-brands.fa-html5 
        | HTML
      
      div.skill-card__desc
        ul 
          li Best practices
          li Accessibilty with semantic tags
          li Basic form validation
          li Browser devtools
    
    .skill-card
      span.skill-text 
        i.fa-brands.fa-html5 
        | HTML
      
      div.skill-card__desc
        ul 
          li Best practices
          li Accessibilty with semantic tags
          li Basic form validation
          li Browser devtools
    
    .skill-card
      span.skill-text 
        i.fa-brands.fa-html5 
        | HTML
      
      div.skill-card__desc
        ul 
          li Best practices
          li Accessibilty with semantic tags
          li Basic form validation
          li Browser devtools
    
    .skill-card
      span.skill-text 
        i.fa-brands.fa-html5 
        | HTML
      
      div.skill-card__desc
        ul 
          li Best practices
          li Accessibilty with semantic tags
          li Basic form validation
          li Browser devtools

  .about-divider 
    svg(data-name="Layer 1" xmlns="http://www/w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="None")
      path(d="M1200 120L0 16.48 0 0 1200 0 1200 120z").shape-fill