doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="This is Efraim, A.K.A. Klrfl's portfolio website.")
    meta(author="Efraim")

    //- css link
    link(rel="stylesheet" href="./src/css/styles.css")
    title Efraim's Portfolio :)
  body

    nav
      div.logo
        a(href="#")
          i.fa-solid.fa-k
      
      .navlinks-container#sidebar 
        button(title="close sidebar").nav-btn#sidebar-close
        a(href="#skills").navlinks Skills
        a(href="#about").navlinks About
        a(href="#projects").navlinks Projects
        a(href="#contact").navlinks Contact

      button.nav-btn#sidebar-open

    main 
      include includes/skills-section.pug 
      include includes/about-section.pug 
      include includes/projects-section.pug 
      include includes/contact-section.pug 

    include includes/footer.pug
    //- js and fontawesome link
    script(src="./src/js/script.js")
    script(src="https://kit.fontawesome.com/12334b3056.js" crossorigin="anonymous")