doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="This is Efraim, A.K.A. Klrfl's portfolio website.")
    meta(author="Efraim")

    //- local fontawesome
    link(rel="stylesheet" href="./src/assets/fontawesome/css/fontawesome.css")
    link(rel="stylesheet" href="./src/assets/fontawesome/css/brands.css")
    link(rel="stylesheet" href="./src/assets/fontawesome/css/solid.css")

    //- css link
    link(rel="stylesheet" href="./src/css/styles.css")
    title Efraim's Portfolio :)

  body
    include includes/navbar.pug
    
    main 
      section.hero
        .hero__text
          h1 Hello, I'm Efraim.
          p I like making web experiences full of joy and meaning, or something idk lmao.
        .hero__image

      include includes/skills-section.pug 
      include includes/about-section.pug 
      include includes/projects-section.pug 
      include includes/contact-section.pug 

    include includes/footer.pug
    
    //- js and fontawesome link
    script(src="./src/js/script.js")
