/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Source+Code+Pro&display=swap");

/* variables */
:root {
  color-scheme: light dark;
  --transition: ease-out 200ms;
  --transblack: rgb(0, 0, 0, 0.5);
  --blur: blur(2rem);
  --about-bg: #bf170b;
}

/* resets */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem "PT Sans", sans-serif;
  color: #ddd;
  line-height: 1.6em;
}

/* prevent scroll when sidebar is active */
body.active {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: #ddd;
}

img {
  max-width: 100%;
}

button {
  all: unset;
}

button:focus-visible {
  outline: 2px solid dodgerblue;
}

/* navbar */
nav {
  color: #ddd;
  padding-inline: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo a {
  display: block;
  padding: 1em;
  color: inherit;
}

.navlinks-container {
  background: var(--transblack);
  backdrop-filter: var(--blur);
  visibility: hidden;

  position: absolute;
  height: 100vh;
  inset: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: transform var(--transition);

  display: flex;
  flex-direction: column;
  text-align: right;
}

.navlinks-container.active {
  visibility: visible;
  transform: translateX(0);
}

.nav-btn {
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
  transition: color var(--transition);
}

#sidebar-open,
.logo {
  background: var(--transblack);
  backdrop-filter: var(--blur);
}

#sidebar-close {
  padding: 1em 1.5em;
}

#sidebar-close i {
  transform: scale(1.5);
}

.navlinks {
  color: inherit;
  text-decoration: none;
  padding: 1em;
  font-size: 1.2rem;
  transition: background-color var(--transition), color var(--transition);
  position: relative;
}

.navlinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background: #ddd;
  transform: scale(0);
  transition: transform var(--transition);
}

.navlinks:hover,
.navlinks:focus,
.nav-btn:hover,
.nav-btn:focus {
  color: #fff;
}

nav a:hover::before,
nav a:focus::before {
  transform: scale(1);
}

/* main section, hero */
.main-section {
  padding-block: 10em;
  padding-inline: 2em;
  background: #1c1b22;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section > div:first-of-type {
  padding: 1em;
}

.hero {
  min-height: 100vh;
  color: #ddd;
  position: sticky;
  top: 0;
  z-index: -2;
  display: flex;
  flex-direction: column;
}

.hero__text {
  background: #2d2d3f;
  text-align: center;
  padding-block: 1em;
  padding-inline: 1em;
  z-index: 1;
  flex: 1 1 0;
}

.hero__text h1 {
  font-size: min(2rem, 8vmin);
  color: #ddd;
  width: max-content;
  height: 2rem;
  margin: 1em auto;
  position: relative;
  overflow: hidden;
}

.hero__text h1::before,
.hero__text h1::after {
  content: "";
  position: absolute;
  inset: 0;
  height: calc(min(2rem, 8vmin) + 2px);
}

.hero__text h1::before {
  background: #2d2d3f;
  animation: typing 3s steps(18) 1000ms forwards;
}

.hero__text h1::after {
  background: white;
  width: 0.2rem;
  top: -5px;
  animation: typing 3s steps(18) 1000ms forwards, blink 1000ms infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes blink {
  50% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

.hero__image {
  order: -1;
  flex: 2 1 0;
  background-image: url(../assets/f1-75.webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero__image > img {
  max-height: 100%;
  position: relative;
}

/* skills section */
.skills-section {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
}

.skills__cards-container {
  text-align: center;
  align-self: stretch;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr)); */
}

.skill-card {
  font-size: 1.2em;
  border-radius: 0.5em;
  outline: 1px solid #444;
  padding-block: 2rem;
  padding-inline: 4rem;
  max-width: 20ch;
  overflow: hidden;
  user-select: none;

  transition: transform var(--transition), outline var(--transition);

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  position: relative;
}

.skill-text > i {
  display: block;
  margin-bottom: 0.5em;
}

.skill-card:hover {
  transform: scale(105%);
  outline: 1px solid #aaa;
}

.about__text {
  max-width: 75ch;
}

.about-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.about-divider .shape-fill {
  fill: var(--about-bg);
}

/* about section */
.about-section {
  background: var(--about-bg);
}

/* projects section */
.projects-section {
  flex-direction: column;
}

.swiper {
  /* outline: 1px solid red; */
  padding: 0.5em;
  width: 100%;
  height: min-content;
}

.swiper-button-prev,
.swiper-button-next {
  background: rgb(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ddd;
}

.project-card {
  border-radius: 0.5em;
  /* width: inherit; */
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform var(--transition);

  display: flex;
  flex-direction: column;
}

.project-card + .project-card {
  margin-block-start: 1rem;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-text {
  padding: 1rem;
  background: #444;
}

/* contact section */
.contact-section {
  background: #267ee6;
}

.contacttt::after {
  content: "below";
}

.form-container {
  background: #1c1b22;
  outline: 1px solid black;
  padding: 1em;
  align-self: stretch;
}

.contact-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.contact-divider .shape-fill {
  fill: var(--about-bg);
}

.contact__text {
  align-self: stretch;
}

.form-container label {
  display: block;
  padding: 0.5em 0 1em 0;
}

.form-container input {
  padding: 0.5em;
  width: 100%;
}

#submit {
  margin-top: 2em;
  cursor: pointer;
}

footer {
  background: #202021;
  color: #ddd;
  padding: 1em;
  text-align: center;
}

.footer-socials {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials a {
  color: #aaa;
  padding: 1em;
  transition: color var(--transition);
}

.footer-socials a:hover {
  color: #ddd;
}

.footer-socials i {
  margin-inline-end: 0.5em;
}

/* media query */
@media screen and (min-width: 50em) {
  body.active {
    overflow: auto;
  }

  .navlinks-container {
    visibility: visible;
    position: relative;
    flex-direction: row;
    height: min-content;
    transform: none;
  }

  .navlinks {
    font-size: inherit;
  }

  .navlinks::before {
    left: 0;
    width: 100%;
    height: 3px;
  }

  #sidebar-open,
  #sidebar-close {
    position: absolute;
    display: none;
    /* visibility: hidden; */
  }

  .hero__text {
    padding: 10em 10em 10em 5em;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 50% 100%, 0% 100%, 0 0%);
  }

  .hero__text h1 {
    margin: 1em auto;
  }
  .hero__text p {
    max-width: 40ch;
  }

  .main-section {
    padding-inline: 4em;
  }

  .contact-section > div {
    flex: 1 1 0;
  }

  .contact-section {
    flex-direction: row;
  }

  .contacttt::after {
    content: "on the right";
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-socials > span {
    text-align: center;
  }

  .footer-socials__links {
    display: inline;
  }
}
